@import url("https://fonts.googleapis.com/css?family=Lora/Roboto");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");



body {
	font-family: didot,serif;
	font-size: 18px;
	margin: 0px;
	text-align: center;

}
h1, h2, h3{
	font-family: times, sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: rosybrown;
	font-size: 22px;

}
h2{
	color: black;
}

h1{
	color: black;
}
h3{
	font-size: 27PX;
}